@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    
    --blueGray: #151D27;
    --highlight: #b6c5e5;
    --lowlight: #fff776;
    /* --gray: #B3AFC6; */
    --gray: #dad8e2;
    --lightBlue: #769EA8;
    --blue:#4D7E8A;
    --darkBlue: #071c4d;

    --row-h: 4rem;     /* per-item height (adjust to taste) */
    --row-gap: 0.5rem; /* grid gap between rows */
    --main-padding: 1em;
  }


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    /* display: grid;
    grid-template-rows: 1fr 10fr 1fr; */
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    height: 100vh;
}

body, button, input{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
    overflow-y:hidden;
}


header, footer{
    
    position: sticky;
    color: white;
    width: 100vw;
    color: white;
    width: 100vw;
}
/* * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * */
header{
    height: 10vh;
    background-color: var(--darkBlue);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 0 4em;
    font-size: 1.25em;
}
/* * * * * * * * * * * * * * MAIN * * * * * * * * * * * * * */
main{
    background-color: black;
    max-height: 85vh;
    height: 85vh;
    width: 100vw;
    color: white;
    font-size: 3em;  
    padding: 0 var(--main-padding)  
}
main#admin{
    height: 100vh;
    max-height: 100vh;;
}

.display-main{
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 85vh;
    width: 97vw;  
    gap: 1em;  
}


#singer-container, .list-container:first-child{
    display: grid;
    grid-auto-flow: column;              /* fill down first, then across */
    grid-template-rows: repeat(10, minmax(1em, auto));
    gap: 0.5em 2em;          
                /* row gap, column gap */
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start; */
    
    min-width: 350px;
    font-weight: bold;
    gap: 0 3em;
    height: 75vh;
    width: 100%;
}
#singer-container{
    margin-left: 1em;
}
.list-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: var(--main-padding) 0
}



.li-div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 1em;
    align-items: flex-end;
    width: 350px;
    margin: 0 .25em;
}
li{
    height: var(--row-h);
}

.li-div:first-child>li, .list-container>p:first-child{
    color: var(--highlight);
}

.li-div:nth-child(2)>li, .list-container>p:nth-child(2){
    color: var(--lowlight);
}

.list-container:first-child{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

main button{
    background-color: var(--darkBlue);
    /* margin: 1em; */
    border-radius: 5px;
    color: var(--gray);
    height: 2.5em;
}
/*admin main*/
div#admin-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: .5em;
}
#admin>#admin-container>#singer-container{
    font-size: .5em;
    /* width: 48vw; */
}

#admin>#admin-container>#singer-container>.li-div{
    height: 2em;
    width: 250px;
    align-items: flex-start;
}
#admin>#admin-container>#singer-container>.li-div>.singer-item{
    height: 2em;
}

#list-manager-container{
    padding-left: 1em;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr 3fr 1fr;
    height: 80vh;
    padding: .25em;
    justify-content: center;
    gap: .25em;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#list-manager-container>*{
    max-width: 230px;
    width: 100%;
}

/* #add-to-active-form, #add-to-master-form */
form{
    font-size: .3em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 300px;
}

/* #add-to-active-form>*, #add-to-master-form>* */
form>*{
    margin: .5em;
}

input{
    padding: 1em;
}

#select-singer{
    padding: 1em;
}

#details{
    font-size: .75em;
    margin-top: 0px;
    margin-bottom: 0px;
}

#clear-active-list, #next-singer{
    width: 225px;
    /* margin-top: 2em; */
}


a{
    color: var(--blue);
    text-decoration: none;
}

#delete-from-master{
    color: red
}

/* * * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * */
footer{
    background-color: white;
    display: flex;
    justify-content: center;
    bottom: 0;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    color: black;
}

footer.admin{
    background-color: black;
    color: white;
    font-weight: bold;
}
footer.admin a{
    color: var(--gray);
}

button{
    padding:5px;
    cursor:pointer;
}